footer {
  background-color: #f5f5f5;
  padding: 2.5em 0em 0em 0em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

footer .footer-section {
  flex: 1;
  padding: 0 1.25em;
  /* z-index: 1; */

}

.footer-section-wrapper{
  width: 100% !important;
}

footer .footer-section h3 {
  font-size: 1.125em;
  font-weight: bold;
  margin-bottom: 0.625em;
}

footer .footer-section ul {
  list-style: none;
  padding: 0;
}

footer .footer-section ul li {
  margin-bottom: 0.625em;
}

footer .footer-section ul li a {
  text-decoration: none;
  color: #333;
}

footer .footer-section ul li a:hover {
  text-decoration: underline;
}

footer .address,
footer .contact-info {
  line-height: 1.5em;
}

footer .share-button {
  margin-top: 1.25em;
  background-color: #333;
  color: #fff;
  padding: 0.625em 1.25em;
  border: none;
  cursor: pointer;
}

footer .social-links {
  display: flex;
  align-items: center;
  gap: 0.9375em;
}

footer .footer-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

footer .footer-section h3 {
  margin-bottom: 1em;
  font-size: 1.125em;
  font-weight: bold;
}

footer .social-links a {
  font-size: 1.5em;
  color: #333;
}

footer .social-links a:hover {
  color: #f39800;
}


/* Footer.css */

/* Add animation classes to elements */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer-section {
  animation: fadeIn 1s ease-out forwards;
}

.social-media-icons {
  animation: fadeIn 1.5s ease-out forwards;
}

.footer-note {
  animation: fadeIn 2s ease-out forwards;
}

