.navbar {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  background-color: rgba(255, 255, 255, 0) !important;
  backdrop-filter: blur(5px) !important;
  padding: 1em 2em;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
}

.jkhskjh {
  padding: 1em !important;
}

.navbar-logo {
  font-size: 1.5em;
  font-weight: bold;
}

.navbar-logo > a {
  color: black;
  text-decoration: none;
}

.hamburger {
  display: none;
  font-size: 1.5em;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.navbar-menu li {
  margin-right: 1.25em;
}

.navbar-menu a {
  text-decoration: none;
  color: #333;
}

@media (max-width: 48em) {
  .input-group {
    position: static !important;
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    padding: 2em;
    text-align: left;
    font-size: 1.3em;
    top: 60px;
    left: 0;
    background-color: black;
    margin-top: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    z-index: 100000;
  }

  .navbar-menu.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    z-index: 20;
  }

  .navbar-menu.open > li > a {
    color: white;
    z-index: 10000;
  }

  .hamburger {
    display: block;
  }
}
