.navbar {
  backdrop-filter: blur(10px);
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background-color: transparent; /* start as transparent */
  transition: background-color 0.3s ease;
  padding: 0.8em !important;
}

.navbar {
  background-color: transparent; /* start as transparent */
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  animation: fadeToBlack 1s forwards; /* 1 second animation duration */
}

@keyframes fadeToBlack {
  0% {
    background-color: rgba(0, 0, 0, 0); /* fully transparent */
  }
  10% {
    background-color: rgba(0, 0, 0, 0.1);
  }
  20% {
    background-color: rgba(0, 0, 0, 0.2);
  }
  30% {
    background-color: rgba(0, 0, 0, 0.3);
  }
  40% {
    background-color: rgba(0, 0, 0, 0.4);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  60% {
    background-color: rgba(0, 0, 0, 0.6);
  }
  70% {
    background-color: rgba(0, 0, 0, 0.7);
  }
  80% {
    background-color: rgba(0, 0, 0, 0.8);
  }
  90% {
    background-color: rgba(0, 0, 0, 0.9);
  }
  100% {
    background-color: rgba(0, 0, 0, 1); /* fully black */
  }
}

.ertyp {
  padding-right: 0px;
}
.modal-content {
  margin-top: 8em !important;
}

.jkhskjh {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-logo > a {
  color: #ffebd0;
  text-decoration: none;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.navbar-menu li {
  margin-right: 1.25rem;
  display: flex;
  align-items: center;
}

.navbar-menu a {
  text-decoration: none;
  color: #ffebd0;
}

@media (max-width: 48em) {
  .input-group {
    position: static !important;
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    padding: 2rem;
    text-align: left;
    font-size: 1.3rem;
    top: 3.75rem;
    left: 0;
    background-color: black;
    margin-top: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-1.25rem);
    pointer-events: none;
    /* z-index: 100000; */
  }

  .navbar-menu.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    /* z-index: 20; */
  }

  .navbar-menu.open > li > a {
    color: white;
    /* z-index: 10000; */
  }

  .hamburger {
    display: block;
    color: white;
  }
}

.dropdown-container {
  position: relative;
  display: inline-block;
  color: #ffebd0;
}

.dropdown-header {
  background-color: transparent;
  color: black;
  padding: 0.625rem 1rem;
  font-size: 1rem !important;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
  display: inline-block;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.dropdown-header:hover {
  background-color: black;
}

.dropdown-list {
  display: none;
  position: absolute;
  background-color: black;
  text-align: start !important;
  min-width: 10rem;
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2);
  /* z-index: 1; */
  border-radius: 0.25rem;
  margin-top: 0.3125rem;
  padding: 1em;
}

.dropdown-container:hover .dropdown-list {
  display: block;
}

.dropdown-item {
  color: black;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
  font-size: 0.875rem;
}

.dropdown-item:hover {
  background-color: #ddd;
  color: black;
}

@media (max-width: 768px) {
  .dropdown-header {
    width: 100%;
    text-align: left;
    font-size: 1em !important;
  }

  .dropdown-list {
    position: static;
    min-width: 100%;
  }
}
