.popular-venue-searches {
  padding: 20px;
  text-align: center;
  position: relative;
  margin-top: 14em;
}

.popular-venue-searches h2 {
  padding-left: 0.5em;
  font-size: 1.5rem;
  text-align: left;
  margin-top: 20px;
}

.venue-container {
  position: relative;
  display: flex;
  align-items: center;
}

.venue-cards {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  z-index: -1;
  padding: 10px 10px;
  overflow-y: hidden;
  scroll-behavior: smooth;
  transition: transform 0.3s ease-in-out;
}

.venue-card {
  min-width: 240px;
  text-align: left;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 10px;
  opacity: 0;
  transform: translateY(20px); /* Start position for animation */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* Add transition for smooth fade-in */
}

/* Animation for when the card enters the viewport */
.venue-card.animate {
  opacity: 1;
  transform: translateY(0); /* End position after animation */
}
.venue-image {
  width: 100%;
  height: 12em;
  border-radius: 8px;
}

.venue-card h3 {
  font-size: 1.1rem;
  color: #333;
  margin-top: 10px;
}

.venue-locations {
  font-size: 0.9rem;
  color: #555;
  margin-top: 5px;
}

.venue-locations span {
  color: #ffb933;
}

.more-link {
  color: #ffb933;
  text-decoration: none;
  font-weight: bold;
}

/* Scroll Button Styles */
.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  padding-bottom: 0.3em;
  width: 40px;
  height: 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

.scroll-button:hover {
  background-color: #ffb933;
  color: #ffffff;
}

/* Position left and right buttons */
.scroll-button.left {
  left: 10px;
  animation-delay: 0.2s;
}

.scroll-button.right {
  right: 10px;
  animation-delay: 0.2s;
}

/* Animation for fade-in effect */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.venue-cards::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

@media (max-width: 55.5em) {
  .popular-venue-searches {
    margin-top: 3.5em;
  }
}
