.section1-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ffb933;
  padding: 7em;
  z-index: 9999;
  margin-top: 3em;
  opacity: 0;
  transition: opacity 2s ease-out;
  overflow: hidden; /* Prevent overflow outside the container */
}

.section1-container.animate {
  opacity: 1;
  animation: fadeIn 2s forwards;
}

.section1-images {
  display: flex;
  position: relative;
  gap: 1em;
  opacity: 0;
  margin-bottom: 2em;
  transition: opacity 2s ease-out 1s;
}

.section1-images.animate {
  opacity: 1;
  animation: fadeIn 2s 1s forwards, slideInFromLeft 1.5s 1s forwards;
}

.section1-image {
  width: 12.5em;
  height: 18.75em;
  object-fit: cover;
  border-radius: 0.625em;
  transform: skew(-10deg);
  opacity: 0;
  animation: fadeIn 2s 1.5s forwards, slideUp 1s 1.5s forwards;
}

.center-image {
  transform: scale(1.1) skew(-10deg);
  animation: scaleUp 1s 2s forwards;
}

.section1-text {
  color: black;
  max-width: 25em;
  text-align: center;
  opacity: 0;
  animation: fadeIn 2s 2.5s forwards, slideUp 1s 3s forwards;
}

.section1-subtitle {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  opacity: 0;
  animation: fadeIn 2s 2.5s forwards, slideUp 1s 3s forwards;
}

.section1-title {
  font-size: 3em;
  margin-bottom: 1em;
  opacity: 0;
  animation: fadeIn 2s 3s forwards, slideUp 1s 3s forwards;
}

.section1-link {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  border-bottom: 0.0625em solid white;
  padding-bottom: 0.2em;
  opacity: 0;
  animation: fadeIn 2s 3.5s forwards, slideUp 1s 3.5s forwards;
}

.section1-link:hover {
  border-bottom: 0.0625em solid transparent;
}

/* Mobile and smaller screen media queries remain unchanged */
@media (max-width: 48em) {
  .section1-container {
    padding: 4em;
    flex-direction: column;
  }

  .section1-images {
    flex-direction: row;
    gap: 1em;
  }

  .section1-image {
    width: 6em;
    height: 200px;
    transform: skew(-5deg);
  }

  .center-image {
    transform: scale(1) skew(-5deg);
  }

  .section1-text {
    max-width: 100%;
    text-align: center;
  }

  .section1-title {
    font-size: 2.5em;
  }

  .section1-link {
    font-size: 1em;
  }
}

@media (max-width: 30em) {
  .section1-container {
    padding: 2em;
    flex-direction: column;
  }

  .section1-title {
    font-size: 2em;
  }

  .section1-subtitle {
    font-size: 1em;
  }

  .section1-link {
    font-size: 0.9em;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes scaleUp {
  from {
    opacity: 0;
    transform: scale(1);
  }
  to {
    opacity: 1;

    transform: scale(1.1);
  }
}
